*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-neutral: hsl(0, 0%, 100%);
    --clr-neutral-dark: hsl(0, 0%, 0%);
    --clr-gray-dark: hsl(0, 0%, 55%);
    --clr-gray-darkest: hsl(0, 0%, 41%);

    --ff-primary: "Alata", sans-serif;
    --ff-secondary: "Josefin Sans", sans-serif;

    --fs-h1: 2.25rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 0.9375rem;

    --transition: all 300ms ease-in-out;

    --container-max-w: 68rem;
}

@media screen and (min-width: 600px) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.75rem;
    }
}
@media screen and (min-width: 1200px) {
    :root {
        --fs-h1: 4.4rem;
        --fs-h2: 2.75rem;
        --fs-h3: 2rem;
    }
}

/* Bases */

ul {
    list-style: none;
}
h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}
h1,
h2,
h3 {
    font-family: var(--ff-secondary);
    font-weight: 300;
    text-transform: uppercase;
}
p {
    font-size: var(--fs-body);
    line-height: 1.6rem;
    max-width: 50ch;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
a:link,
a:visited {
    color: var(--clr-neutral);
}
li {
    font-size: var(--fs-body);
}
button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}
body {
    font-family: var(--ff-primary);
    font-weight: 400;
    color: var(--clr-gray-darkest);
}

/* Utilities */

.container {
    width: 85%;
    max-width: var(--container-max-w);
    margin: 0 auto;
}

/* Navigation */

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 0;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}
.logo {
    width: 140px;
    z-index: 20;
}

.nav-menu-background {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    right: 0px;
    min-height: 100vh;
    width: 100%;
    background-color: var(--clr-neutral-dark);
}

.nav-menu {
    display: none;
}

.nav-btns {
    display: flex;
    color: var(--clr-neutral);
}

.nav-btns > li {
    position: relative;
    cursor: pointer;
    font-size: var(--fs-body);
}
.nav-btns > li:not(:first-child) {
    margin-left: 2rem;
}
.nav-btns > li:hover::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: var(--clr-neutral);
    height: 2px;
    width: 50%;
}

.nav-close-menu-icon {
    display: none;
    z-index: 20;
}

/* Active states for showing mobile menu */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-menu-background.show {
    display: flex;
}
.nav-menu.show {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    min-height: 100vh;
}
.nav-menu.show .nav-btns {
    flex-direction: column;
    width: 85%;
    max-width: var(--container-max-w);
    margin: 0 auto;
}
.nav-menu.show .nav-btns li {
    text-transform: uppercase;
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary);
    animation-name: fade-in;
    animation-duration: 4s;
}
.nav-menu.show .nav-btns > li:not(:first-child) {
    margin-left: 0rem;
    margin-top: 2rem;
}
.nav-menu.show .nav-btns > li:hover::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateX(0%);
    content: "";
    background: var(--clr-neutral);
    height: 2px;
    width: 20%;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("./images/mobile/image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
}
.hero .container {
    padding: 14rem 0;
}
.hero__title {
    padding: 1.5rem;
    letter-spacing: 1px;
    max-width: 15ch;
}
.hero__title-box {
    border: 2px solid var(--clr-neutral);
    color: var(--clr-neutral);
    max-width: 30rem;
}

@media screen and (min-width: 600px) {
    .hero {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
            ),
            url("./images/desktop/image-hero.jpg");
    }
}
@media screen and (min-width: 800px) {
    .nav-menu {
        display: block;
    }
    .nav-menu-icon {
        display: none;
    }
    .logo {
        width: 180px;
    }
    .hero__title {
        padding: 2rem;
    }
}
@media screen and (min-width: 1200px) {
    nav {
        padding: 4.5rem 0;
    }
    .hero {
        height: 40rem;
    }
    .hero__title-box {
        max-width: 40rem;
    }
}

/* Main */
main {
    margin: 6rem 0;
}
section {
    text-align: center;
}
.section__title {
    color: var(--clr-neutral-dark);
    margin: 3rem 0 1rem 0;
}
.section__text {
    color: var(--clr-gray-dark);
}
.section__img {
    display: block;
    width: 100%;
    height: 100%;
}

.about-section {
    margin-bottom: 5rem;
}
.about-section .section__text {
    padding: 0 1rem;
}

@media screen and (min-width: 1000px) {
    main {
        margin: 9rem 0;
    }
    .section__title {
        margin-bottom: 1.5rem;
    }
    .about-section {
        margin-bottom: 12rem;
    }

    .about-section .container {
        position: relative;
    }

    .about-section .section__img {
        max-width: 720px;
    }

    .about-section .section__content {
        position: absolute;
        right: 0px;
        bottom: -2px;
        width: 545px;
        text-align: start;
        background-color: var(--clr-neutral);
        padding: 3rem 0 0 6rem;
    }
}

/***** Our Creations *****/
.creations-list {
    padding: 2rem 0;
}
.creations-item {
    position: relative;
    min-height: 100px;
    cursor: pointer;
}
.creations-item:not(:last-child) {
    margin-bottom: 1.5rem;
}
.creations-item__title-box {
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
    height: 100%;
    width: 100%;
    transition: var(--transition);
}

.creations-item__title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: var(--clr-neutral);
    opacity: 0.8;
    max-width: 12ch;
    text-align: start;
}
.creations-item__title.grid {
    max-width: 10ch;
}

.creations-item:hover .creations-item__title-box {
    background: hsla(0, 0%, 100%, 80%);
}
.creations-item:hover .creations-item__title {
    color: var(--clr-neutral-dark);
}

.section__btn {
    padding: 0.5rem 2rem;
    border: 1px solid var(--clr-neutral-dark);
    background-color: transparent;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transition: var(--transition);
}
.section__btn:hover {
    background-color: var(--clr-neutral-dark);
    color: var(--clr-neutral);
}
@media screen and (min-width: 1000px) {
    .creations-section .container {
        position: relative;
    }
    .creations-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .creations-section .section__title {
        text-align: start;
    }
    .creations-section .section__btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    .creations-item:not(:last-child) {
        margin-bottom: 0;
    }

    .creations-item__title {
        padding: 2rem 2.5rem;
        max-width: 13ch;
    }
    .creations-item__title-box {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    }
}

/***** Footer *****/
footer {
    background-color: var(--clr-neutral-dark);
    color: var(--clr-neutral);
    padding: 4rem 0;
}
.footer-copyright {
    display: inline-block;
    margin-top: 1rem;
    color: var(--clr-gray-dark);
}
.footer-links {
    padding: 2rem 0;
    text-align: center;
}
.footer-links > li {
    position: relative;
}
.footer-links > li:hover::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: var(--clr-neutral);
    height: 2px;
    width: 50%;
}
.footer-links > li:not(last-child) {
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
}
.social-links > li {
    position: relative;
    margin: 0 0.5rem;
}
.social-links > li:hover::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: var(--clr-neutral);
    height: 2px;
    width: 100%;
}
.footer-social__col,
.footer-links__col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    footer .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-links {
        display: flex;
        padding-bottom: 0rem;
    }
    .footer-links > li:not(last-child) {
        margin-bottom: 0rem;
        margin-right: 2rem;
    }
    .footer-copyright {
        margin-top: 2rem;
    }
    .footer-links__col {
        align-items: flex-start;
    }
    .footer-social__col {
        align-items: flex-end;
    }
}
